<% if book.errors.any? %>
  <p><%= book.errors.count %> errors prohibited this user from being saved</p>
  <% book.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>